.App {
  margin: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  font-family: Rajdhani, sans-serif;
}

/*** HEADER COMPONENT ***/

header {
  height: 70px;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #999;
  display: flex;
}

.flag {
  width: 60px;
  height: 43px;
  margin: auto 1em;
}

.page_title {
  margin: auto 1em auto 0;
  padding: 0;
  color: #0066cc;
  font-family: Rajdhani, sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.button {
  margin: 0.4em 1em 0 auto;
  cursor: pointer;
  border-color: #fff;
  background-color: #fff;
}

/*** SIDEBAR ***/

.sidebar-wrapper {
  display: flex;
  /* height: calc(100vh - 160px); */
  background-color: #fff;
}

.sidebar {
  display: flex;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 102px;
  background-color: #f1f1f1;
  z-index: 10;
  display: block;
  transition: 0.3s;
  font-size: inherit;
}

.search-location-bar {
  padding: 20px;
}

.search-location-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  height: 40px;
  font-size: 0.9em;
}

.search-location::placeholder {
  font-style: italic;
}

.main-container {
  flex: 1;
  position: relative;
}



/*** INFO WINDOW ***/

.info-window {
  font-family: Rajdhani, sans-serif;
  text-align: center;
  padding-left: 28px;
  width: 18em;
  height: 10em;
}

.info-window h3 {
  font-weight: 700;
  font-size: 1.5em;
}

.info-window p {
  font-size: 1.5em;
}

.info-window .details-button {
  font-family: Rajdhani, sans-serif;
  font-size: 1.25em;
  text-align: center;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.details-button:hover,
.details-button:focus {
    color: black;
    cursor: pointer;
}

/*** LOCATION DETAILS COMPONENT ***/

.modal_open {
  display: block
}

.modal_closed {
  display: none
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 750px;
    flex-direction: column;
    /* align-content: space-between; */
}

.location-name {
  font-family: Rajdhani, sans-serif;
  font-size: 1.25em;
  color: #0066cc;
}


/* PHOTOGALLERY */

.photogallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.photogallery li {
  margin: 0 0 1em 0;
  width: 170px;
  height: 120px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}

.photogallery .photo {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.flickr  {
  display: flex;
  justify-content: space-between;
}

.flickr span {
  font-weight: 700;
  color: #0066cc
}

.flickr a {
  color: #0066cc;
}

/* WIKIPEDIA */

.location-info {
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  background-color: #f1f1f1;
  max-height: 250px;
  text-align: justify;
  overflow-y: auto;
}

.wikipedia  {
  display: flex;
  justify-content: space-between;
}

.wikipedia .powered-by {
  font-weight: 700;
  color: #0066cc
}

.wikipedia a {
  color: #0066cc;
}

.no-wiki-data span {
  font-weight: 700;
  color: #0066cc
}
/* CLOSE button */

.close {
    width: 100%;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: -10px 5px 0 0;
    text-align: right;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
